<html>
  <head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link href="/assets/build/styles.css" rel="stylesheet" media="all">
    <script type="module" src="/assets/build/index.js">

    </script>
  </head>
  <body class="bg-gray-50">
    <%= partial "shared/top_nav" %>
    <%= partial "shared/flash" %>

    <div class="mt-2 mx-4">
      <%= yield %>
    </div>

    <%= partial "shared/danger_panel" %>

  </body>
</html>
