<h2 class="text-xl">Recipes</h2>

<div class="m-1 p-2 bg-blue-100 border border-blue-200 rounded shadow hover:shadow-lg">
  <h3 class="text-lg">Create a recipe</h3>

  <form action="/recipes" method="post">

    <div class="form-input">
      <label for="title">Title</label>
      <input name="title" type="text" value=""/>
    </div>

    <div class="form-input">
      <label for="slug">Slug</label>
      <input name="slug" type="text" value=""/>
    </div>
    <input type="submit" value="Create!" class="bg-blue-400 text-blue-50 mt-2 p-1 rounded " />
  </form>
</div>

<div class="mt-2">
  <h3 class="text-lg">Recipes list</h3>
  <div class="flex justify-start flex-wrap mt-1">
    <% recipes.each do |recipe| %>
      <div class="m-1 p-2 bg-blue-100 border border-blue-200 rounded shadow hover:shadow-lg">
        <h3 class="border-b"> <%= link_to recipe.title, "/recipes/#{recipe.slug}" %> </h3>

        <ul class="mt-2">
          <% recipe.measures.each do |measure| %>
            <li> <%= measure.quantity %> <%= measure.ingredient %></li>
          <% end %>
          <form action="/recipes/add_measure" method="post">
            <li>
              <input name="slug" type="hidden" value="<%= recipe.slug %>"/>
              <div class="form-input">
                <label for="ingredient">Ingredient</label>
                <input name="ingredient" type="text" value=""/>
              </div>
              <div class="form-input">
                <label for="quantity">Quantity</label>
                <input name="quantity" type="number" value=""/>
              </div>
              <input type="submit" value="Add ingredient" class="bg-blue-400 text-blue-50 mt-2 p-1 rounded " />
            </li>
          </form>
        </ul>
      </div>
    <% end %>
  </div>
</div>
