<% if ENV["DANGER_PANEL"] %>
  <details class="fixed top-20 right-0.5 p-4 bg-red-50 border-4 border-red-600">
    <summary>DANGER</summary>

    <div> <%= link_to "Reset!", "/danger/reset", class: "text-red-500" %> </div>
    <div><%= link_to "Seed!", "/danger/seed", class: "text-red-500" %></div>
  </details>
<% end %>
