<% if flash.any? %>
  <div id="flash" class="flex justify-center items-center">
    <% if flash["success"] %>
      <div class="bg-green-50 p-4 rounded border-2 border-green-500">
        <%= flash["success"] %>
      </div>
    <% end %>
    <% if flash["info"] %>
      <div class="bg-blue-50 p-4 rounded border-2 border-blue-500">
        <%= flash["info"] %>
      </div>
    <% end %>
    <% if flash["danger"] %>
      <div class="bg-red-50 p-4 rounded border-2 border-red-500">
        <%= flash["danger"] %>
      </div>
    <% end %>
  </div>
<% end %>
