<nav id="top-nav" class="flex justify-between items-center bg-blue-900">
  <div id="logo" class="p-4 text-blue-50 font-semibold bg-blue-800">
    <%= link_to "Pisghetti", "/" %>
  </div>
  <div id="menu">
    <%#= link_to "Otro link", "/", class: "p-4 text-blue-50 hover:bg-blue-800" %>

  </div>
</nav>
